html {
    background: rgb(155, 155, 155);
    min-height: 100%;
}

body {
    margin: 50px auto;
    border-radius: 1px;
    min-height: 100%;
    width: 56%;
    min-width: 850px;

    #resume {
        padding: 35px 45px 0;
        background-color: rgb(250, 250, 250);
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.275);
        border: 1px solid black;
        border-radius: 1px;
    }
}
