- for (var i = 0; i < events.length; i++)
    - if (events[i].date)
        - events[i].date = new Date(events[i].date)
    - else
        - events[i].start = new Date(events[i].start)
        - events[i].end   = new Date(events[i].end)

- timeline = { }
- timeline.start = new Date(start)
- timeline.end   = new Date(end)
- timeline.duration = timeline.end.getTime() - timeline.start.getTime()
- timeline.getHeight = function(d) {
-     return 100 * (d.getTime() - timeline.start.getTime()) / timeline.duration
- }

mixin timeline-icon(color)
    i.timeline-icon(style="background-color:" + event_colors[color])

mixin a(href, name)
    a(href=href, target="_blank")= name

div#resume
    link(href="https://fonts.googleapis.com/css?family=Lato:400,700", rel="stylesheet", type="text/css")
    div.header
        div.contact
            h1.name Dominic Zirbel
            a.email(href="mailto:dominiczirbel@gmail.com") dominiczirbel@gmail.com
            p.phone 412 204 7462
    div.content
        h1 Skills
        div.cols
            div.left
                p.title Full-Stack Web Development
            div.right
                p Very comfortable with HTML (Jade), CSS (Compass, LESS), JavaScript (jQuery)
                p Most work is with PHP (Yii/Yii2, Zend), some with node.js
                p Proficiency with SQL (MySQL, InnoDB), minorly so with NoSQL (MongoDB)
                p Real-world experience without formal training in Interface Design
        div.cols
            div.left
                p.title General Programming
            div.right
                p Native Android Development: practical experience, knowledge of the Java API
                p Java, C/C++, Python: solid foundation in the style and uses of these languages
                p Software Design: experience and training in creating and maintaining large codebases, particularly in object-oriented languages such as Java and PHP
                p Linux: day-to-day usage with top-level components (command line, scripting, Git)
        div.cols
            div.left
                p.title Mathematics
            div.right
                p Strong academic core, especially in Graph Theory, Linear Algebra, and Combinatorics
                p Analytical thinking and problem solving, abstract reasoning
                p
                    +timeline-icon("putnam")
                    +a("http://math.scu.edu/putnam/index.html", "Putnam Exam")
                    |  Scores: 2013 - 10 (~70th percentile), 2015 - 1 (~50th percentile)
        br

        h1 Experience
        div.cols
            div.left
                p.title
                    +timeline-icon("ist")
                    +a("http://teamist.com/", "Imaging Systems Technology")
                p.subtitle Intern; Android Development
                p.date Summer 2016
            div.right
                p Developed an Android tablet app to monitor and control a manufacturing process in order to fine tune the system. Gathered live data via Bluetooth; tracked averages, regressions, and errors; displayed a powerful realtime graph; and kept logs of past runs.
                p Used the native Android SDK in Java and my focus was on creating an app capable of handling large amounts of generic data, and finding useful ways to present it to the team.

        div.cols
            div.left
                p.title
                    +timeline-icon("mf")
                    +a("http://www.metabolismfun.com/", "MetabolismFun")
                p.subtitle Full-Stack Web Engineering
                p.date July 2013 - Jan 2015
            div.right
                p An online, turn-based educational game forcing the player to learn metabolic pathways in an engaging, interactive way to maximize their score.
                p Worked with 
                    +a("http://www.bgsu.edu/arts-and-sciences/chemistry/faculty/neocles-b-leontis.html", "Dr. Neocles Leontis")
                    |  at BGSU to develop the website to teach cellular metabolism in his classes and beyond. I was responsible for programming, design, and deployment and used Yii2, MySQL, and jQuery.
                
        div.cols
            div.left
                p.title
                    +timeline-icon("aot")
                    +a("http://agileoasis.com/", "Agile Oasis Technologies")
                p.subtitle Intern; Web Development
                p.date Summer 2013, 2015
            div.right
                p Summer 2015: Developed social network site 
                    +a("http://www.projectqi.com/", "Project Qi")
                    | . In addition to standard features (profile, friends, groups, pictures, status feed) the site aimed to connect users to non-profit organizations. I used Yii2, MySQL, Bootstrap, and jQuery and worked closely with the client to create the experience he had in mind.
                p Summer 2013: Designed and built the frontend for a variety of contracted websites.
        div.cols
            div.left
                p.title
                    +timeline-icon("pr")
                    +a("https://personalrobotics.ri.cmu.edu/", "Personal Robotics")
                p.subtitle Intern; Android Development
                p.date Summer 2012
            div.right
                p Designed an Android application for in-house use on a humanoid robot that provided a simple interface for normally difficult tasks such as adjusting motor position, displaying sensor output, or sending a direct command.
        div.cols
            div.left
                p.title
                    +timeline-icon("gol")
                    +a("https://github.com/djynth/Game-of-Life", "Game of Life")
                p.subtitle Independent Project
                p.date 2009 - 2013
            div.right
                p A simulation of Conway's Game of Life developed in Java, with emphasis on a smooth and intuitive interface. A tool as much as a game, the program allows users to work on an infinite grid, place predifined patterns, and watch cells evolve, with a powerful engine for fast simulation.
        br

        h1 Education
        div.cols
            div.left
                p.title
                    +timeline-icon("cmu")
                    +a("http://www.cmu.edu/index.shtml", "Carnegie Mellon University")
                p.date 2013 - Current
            div.right
                p Junior in the Mellon College of Science, double majoring in Mathematics and Computer Science
                p Cumulative GPA (as of Fall 2016): 3.1
        //- div.cols
        //-     div.left
        //-         p.title
        //-             +timeline-icon("bgsu")
        //-             +a("http://www.bgsu.edu/", "Bowling Green State University")
        //-         p.date 2009 - 2013
        //-     div.right
        //-         p Math and Computer Science classes taken during high school, including senior-level Probability/Statistics and master's level Analysis
        //-         p Cumulative GPA: 4.0
        div.cols
            div.left
                p.title
                    +timeline-icon("sjj")
                    +a("https://www.sjjtitans.org/", "Saint John's Jesuit")
                p.date High School 2009 - 2013
            div.right
                p Graduated as Valedictorian with a 4.8 cumulative GPA on a 4-point scale
                p Took Math and Computer Science classes at 
                    +timeline-icon("bgsu")
                    +a("http://www.bgsu.edu/", "Bowling Green State University")
                    |  during high school, including senior-level Probability/Statistics and master's level Analysis, with a cumulative GPA of 4.0

        div.timeline-holder
            div.timeline
                - var start_year = timeline.start.getFullYear()
                - var end_year = timeline.end.getFullYear()
                - for (var year = start_year; year < end_year; year++)
                    - var bottom = timeline.getHeight(new Date(year+1, 0, 1))
                    div.year(style="bottom:" + bottom + "%")
                        p.name= (year+1)
                div.year(style="bottom:100%")
                    p.name Now

                div.events-holder  
                    - for (var i = 0; i < events.length; i++)
                        - var e = events[i]
                        - if (e.date)
                            - var bottom = timeline.getHeight(e.date) - 0.5
                            - var height = 1
                        - else
                            - var bottom = timeline.getHeight(e.start)
                            - var height = timeline.getHeight(e.end) - bottom
                        div.event(style="bottom:" + bottom + "%; height:" + height + "%; background-color:" + event_colors[e.color], col=e.col, title=e.name)

    div.footer
        +a("https://www.github.com/djynth/resume", "github.com/djynth/resume")
