if css
    style= css

div#resume
    div.header
        div.contact
            p.name Dominic Zirbel
            a.email(href="mailto:dominiczirbel@gamil.com") dominiczirbel@gmail
            p.phone 412 204 7462
        div.logo
            img(src="public/logo.png")
    div.content
        h2 Skills
        ul
            li Full-stack Web Engineering
            li Native Android Development
            li Assorted Programming
            li Math
        h2 Experience
        h2 Education
        h2 Projects
    div.footer
        a(href="https://www.github.com/djynth/resume" target="_blank") github.com/djynth/resume
