if css
    style!= css

- var events = [ ]

- var e = { }
- e.name = "CMU [Fall 2013]"
- e.color = "#FF0000"
- e.col = 1
- e.start = new Date(2013, 8, 26)
- e.end   = new Date(2013, 12, 9)
- events.push(e)

- e = { }
- e.name = "CMU [Spring 2015]"
- e.color = "#FF0000"
- e.col = 1
- e.start = new Date(2015, 1, 12)
- e.end   = new Date(2015, 5, 1)
- events.push(e)

- e = { }
- e.name = "MetabolismFun"
- e.color = "#00FF00"
- e.col = 4
- e.start = new Date(2013, 7, 15)
- e.end   = new Date(2015, 1, 1)
- events.push(e)

- timeline = { }
- timeline.start = new Date(2007, 1, 1)
- timeline.end   = new Date(2015, 3, 15)
- timeline.duration = timeline.end.getTime() - timeline.start.getTime()
- timeline.getHeight = function(d) {
-     if (d.getTime() >= timeline.end.getTime()) {
-         return 100
-     }
-     if (d.getTime() <= timeline.start.getTime()) {
-         return 0
-     }
-     return 100 * (d.getTime() - timeline.start.getTime()) / timeline.duration
- }

div#resume
    div.header
        div.contact
            p.name Dominic Zirbel
            a.email(href="mailto:dominiczirbel@gmail.com") dominiczirbel@gmail
            p.phone 412 204 7462
        div.logo
            img(src="public/logo.png")
    div.content
        h1 Skills
        ul
            li Full-stack Web Engineering
                ul
                    li HTML, CSS (Compass, LESS), jQuery
                    li node.js, PHP (Yii, Zend)
                    li SQL (MySQL), NoSQL (MongoDB)
                    li Design
            li Native Android Development
            li Assorted Programming
                ul
                    li C/C++
                    li Linux
                    li Python
            li Math
        br

        h1 Experience
        ul
            li MetabolismFun
            li Personal Robotics
            li Agile Oasis Technologies
        br

        h1 Education
        ul
            li CMU
            li BGSU
            li SJJ
        br

        div.timeline-holder
            div.timeline
                - var start_year = timeline.start.getFullYear()
                - var end_year = timeline.end.getFullYear()
                - for (var year = start_year; year < end_year; year++)
                    - var bottom = timeline.getHeight(new Date(year+1, 1, 1))
                    div.year(style="bottom:" + bottom + "%")
                        div.left
                        div.right
                        p.name= year

                - for (var i = 0; i < events.length; i++)
                    - var e = events[i]
                    - var bottom = timeline.getHeight(e.start)
                    - var height = timeline.getHeight(e.end) - bottom
                    div.event(style="bottom:" + bottom + "%; height:" + height + "%; background-color:" + e.color, col=e.col)

    div.footer
        a(href="https://www.github.com/djynth/resume" target="_blank") github.com/djynth/resume
