doctype html
html(lang="en")
    head
        title Dominic Zirbel's Resume
        style= css

    body
        div#header
            p#name Dominic Zirbel
            p#email dominiczirbel@gmail
            p#phone 412 204 7462
        div#content
            h1 Skills
                ul
                    li Full-stack Web Engineering
                    li Native Android Development
                    li Assorted Programming
                    li Math
            h1 Experience
            h1 Education
            h1 Projects
