- for (var i = 0; i < events.length; i++)
    - if (events[i].date)
        - events[i].date = new Date(events[i].date)
    - else
        - events[i].start = new Date(events[i].start)
        - events[i].end   = new Date(events[i].end)

- timeline = { }
- timeline.start = new Date(start)
- timeline.end   = new Date(end)
- timeline.duration = timeline.end.getTime() - timeline.start.getTime()
- timeline.getHeight = function(d) {
-     return 100 * (d.getTime() - timeline.start.getTime()) / timeline.duration
- }

mixin timeline-icon(color)
    i.timeline-icon(style="background-color:" + event_colors[color])

mixin a(href, name)
    a(href=href, target="_blank")= name

div#resume
    div.header
        div.contact
            h1.name Dominic Zirbel
            a.email(href="mailto:dominiczirbel@gmail.com") dominiczirbel@gmail
            p.phone 412 204 7462
    div.content
        h1 Skills
        ul
            li Full-stack Web Engineering
                ul
                    li HTML, CSS (Compass, LESS), jQuery
                    li node.js, PHP (Yii, Zend)
                    li SQL (MySQL), NoSQL (MongoDB)
                    li Interface Design
            li Native Android Development
            li Assorted Programming
                ul
                    li C/C++, Python - solid foundation in the feel, style, and uses of these and other languages
                    li Linux - day-to-day use and comfort with top-level components (command line, scripting)
                    li Git - extensive use for many years
            li Mathematics
                ul
                    li 2013
                        +timeline-icon("putnam")
                        +a("http://math.scu.edu/putnam/index.html", "Putnam")
                        |  Score: 10
        br

        h1 Experience
        ul
            li
                +timeline-icon("mf")
                +a("http://www.metabolismfun.com/", "MetabolismFun")
                |  - Full-stack Web Engineering
                ul
                    li An online, educational game created to teach cellular metabolism at a university level.
                    li Worked with 
                        +a("http://www.bgsu.edu/arts-and-sciences/chemistry/faculty/neocles-b-leontis.html", "Dr. Neocles Leontis")
                        |  at BGSU to develop the game for his classes; I was responsible for programming, design, and deployment.
                    li Features a playable turn-based game forcing the player to learn metabolic pathways to maximize certain outputs, customizable settings, saved games, and a flat, smooth appearance.
            li
                +timeline-icon("pr")
                +a("https://personalrobotics.ri.cmu.edu/", "Personal Robotics")
                |  at CMU - Intern; Android Development
                ul
                    li Designed an Android application for in-house use on a humanoid robot that simplified normally difficult tasks such as adjusting motor position, displaying sensor output, or sending a direct command.
            li
                +timeline-icon("aot")
                +a("http://agileoasis.com/", "Agile Oasis Technologies")
                |  - Intern; General Web Development
                ul
                    li Worked on a variety of projects, generally designing and building the frontend for contracted websites.
            li
                +timeline-icon("gol")
                +a("https://github.com/djynth/Game-of-Life", "Game of Life")
                |  - Independent Project
                ul
                    li A simulation of Conway&apos;s Game of Life, developed in Java to run on a desktop computer.
                    li A game as much as a tool, the program allows users to work on an infinite grid, place predifined patterns, and watch cells evolve over time.
        br

        h1 Education
        ul
            li
                +timeline-icon("cmu")
                +a("http://www.cmu.edu/index.shtml", "Carnegie Mellon University")
                ul
                    li Sophomore in the Mellon College of Science, majoring in Mathematics with a minor or possible double major in Computer Science.
            li
                +timeline-icon("bgsu")
                +a("http://www.bgsu.edu/", "Bowling Green State University")
                ul
                    li Took many mathematics classes during high school at BGSU, including advanced Probability/Statistics and Master's level Analysis.
                    li Cumulative GPA: 4.0
            li
                +timeline-icon("sjj")
                +a("https://www.sjjtitans.org/", "Saint John's Jesuit High School")
                ul
                    li Graduated in 2013 as Valedictorian with a cumulative GPA of 4.8.
        br

        div.timeline-holder
            div.timeline
                - var start_year = timeline.start.getFullYear()
                - var end_year = timeline.end.getFullYear()
                - for (var year = start_year; year < end_year; year++)
                    - var bottom = timeline.getHeight(new Date(year+1, 0, 1))
                    div.year(style="bottom:" + bottom + "%")
                        p.name= (year+1)
                div.year(style="bottom:100%")
                    p.name Now

                div.events-holder  
                    - for (var i = 0; i < events.length; i++)
                        - var e = events[i]
                        - if (e.date)
                            - var bottom = timeline.getHeight(e.date) - 0.5
                            - var height = 1
                        - else
                            - var bottom = timeline.getHeight(e.start)
                            - var height = timeline.getHeight(e.end) - bottom
                        div.event(style="bottom:" + bottom + "%; height:" + height + "%; background-color:" + event_colors[e.color], col=e.col, title=e.name)

    div.footer
        +a("https://www.github.com/djynth/resume", "github.com/djynth/resume")
