if css
    style= css

div#resume
    div.header
        div.contact
            p.name Dominic Zirbel
            p.email dominiczirbel@gmail
            p.phone 412 204 7462
        div.logo
            img(src="public/logo.png", alt="")
    div.content
        h3 Skills
        p
            ul
                li Full-stack Web Engineering
                li Native Android Development
                li Assorted Programming
                li Math
        h3 Experience
        h3 Education
        h3 Projects
