- for (var i = 0; i < events.length; i++)
    - if (events[i].date)
        - events[i].date = new Date(events[i].date)
    - else
        - events[i].start = new Date(events[i].start)
        - events[i].end   = new Date(events[i].end)

- timeline = { }
- timeline.start = new Date(start)
- timeline.end   = new Date(end)
- timeline.duration = timeline.end.getTime() - timeline.start.getTime()
- timeline.getHeight = function(d) {
-     return 100 * (d.getTime() - timeline.start.getTime()) / timeline.duration
- }

mixin timeline-icon(color)
    i.timeline-icon(style="background-color:" + event_colors[color])

mixin a(href, name)
    a(href=href, target="_blank")= name

div#resume
    div.header
        div.contact
            p.name Dominic Zirbel
            a.email(href="mailto:dominiczirbel@gmail.com") dominiczirbel@gmail
            p.phone 412 204 7462
        div.logo
            img(src="public/logo.png")
    div.content
        h1 Skills
        ul
            li Full-stack Web Engineering
                ul
                    li HTML, CSS (Compass, LESS), jQuery
                    li node.js, PHP (Yii, Zend)
                    li SQL (MySQL), NoSQL (MongoDB)
                    li Design
            li Native Android Development
            li Assorted Programming
                ul
                    li C/C++
                    li Linux
                    li Git
                    li Python
            li Mathematics
                ul
                    li 2013
                        +timeline-icon("putnam")
                        +a("http://math.scu.edu/putnam/index.html", "Putnam ")
                        | Score: 10
        br

        h1 Experience
        ul
            li
                +timeline-icon("mf")
                +a("http://www.metabolismfun.com/", "MetabolismFun")
            li
                +timeline-icon("pr")
                +a("https://personalrobotics.ri.cmu.edu/", "Personal Robotics")
            li
                +timeline-icon("aot")
                +a("http://agileoasis.com/", "Agile Oasis Technologies")
            li
                +timeline-icon("gol")
                +a("https://github.com/djynth/Game-of-Life", "Game of Life")
        br

        h1 Education
        ul
            li
                +timeline-icon("cmu")
                | Carnegie Mellon University
            li
                +timeline-icon("bgsu")
                | Bowling Green State University
            li
                +timeline-icon("sjj")
                | Saint John&apos;s Jesuit High School
        br

        div.timeline-holder
            div.timeline
                - var start_year = timeline.start.getFullYear()
                - var end_year = timeline.end.getFullYear()
                - for (var year = start_year; year < end_year; year++)
                    - var bottom = timeline.getHeight(new Date(year+1, 1, 1))
                    div.year(style="bottom:" + bottom + "%")
                        p.name= (year+1)

                div.events-holder  
                    - for (var i = 0; i < events.length; i++)
                        - var e = events[i]
                        - if (e.date)
                            - var bottom = timeline.getHeight(e.date) - 0.5
                            - var height = 1
                        - else
                            - var bottom = timeline.getHeight(e.start)
                            - var height = timeline.getHeight(e.end) - bottom
                        div.event(style="bottom:" + bottom + "%; height:" + height + "%; background-color:" + event_colors[e.color], col=e.col, title=e.name)

    div.footer
        +a("https://www.github.com/djynth/resume", "github.com/djynth/resume")
