if css
    style= css

div#resume
    div.header
        div.contact
            p.name Dominic Zirbel
            a.email(href="mailto:dominiczirbel@gmail.com") dominiczirbel@gmail
            p.phone 412 204 7462
        div.logo
            img(src="public/logo.png")
    div.content
        h1 Skills
        ul
            li Full-stack Web Engineering
                ul
                    li HTML, CSS (Compass, LESS), jQuery
                    li node.js, PHP (Yii, Zend)
                    li SQL (MySQL), NoSQL (MongoDB)
                    li Design
            li Native Android Development
            li Assorted Programming
                ul
                    li C/C++
                    li Linux
                    li Python
            li Math
        br

        h1 Experience
        ul
            li MetabolismFun
            li Personal Robotics
            li Agile Oasis Technologies
        br

        h1 Education
        ul
            li CMU
            li BGSU
            li SJJ
        br
    div.footer
        a(href="https://www.github.com/djynth/resume" target="_blank") github.com/djynth/resume
